.row {
  @mixin clearfix;

  &--t-padding {
    padding-top: 3.75rem;
  }
  &--gutters {
    margin-right: -65px;
  }

  &--gutters-small {
    margin-right: -45px;
  }

  &--gutters-larger {
    margin-right: -100px;
  }

  &--gutters > div {
    padding-right: 65px;
  }

  &--gutters-small > div {
    padding-right: 45px;
  }

  &--gutters-larger > div {
    padding-right: 100px;
  }

  &__b-margin-until-md {
    margin-bottom: 3.5rem;
  }

  @mixin atMedium {
    &__b-margin-until-md {
      margin-bottom: 0;
    }

    &__md-4 {
      width: 33.33%;
      float: left;
    }

    &__md-4-lgr {
      width: 37%;
    }

    &__md-6 {
      width: 50%;
      float: left;
    }

    &__md-8 {
      width: 66.66%;
      float: left;
    }

    &__md-8-smlr {
      width: 63%;
    }

    /*## begin equal height rules */
    &--equal-height-at-medium {
      display: flex;

      & > div {
        float: none;
        display: flex;
      }
    }
  }

  @mixin atLarge {
    &__b-margin-until-lg {
      margin-bottom: 0;
    }

    &__lg-4 {
      width: 33.33%;
      float: left;
    }

    &__lg-4-lgr {
      width: 37%;
    }

    &__lg-6 {
      width: 50%;
      float: left;
    }

    &__lg-8 {
      width: 66.66%;
      float: left;
    }

    &__lg-8-smlr {
      width: 63%;
    }

    /*## begin equal height rules */
    &--equal-height-at-lg {
      display: flex;

      & > div {
        float: none;
        display: flex;
      }
    }
  }
}
