.section-title {
  font-size: 2.5rem;
  font-weight: 300;

  strong {
    font-weight: 500;
  }

  @mixin atSmall {
    font-size: 3.75rem;
  }

  &__icon {
    padding-right: 1.2rem;
    display: block;
    margin: 1rem auto;

    @mixin atSmall {
      position: relative;
      top: 1rem;
      display: inline-block;
      margin: 0;
    }
  }

  &--text-centered {
    text-align: center;
  }

  &--blue {
    color: $mainBlue;
  }

  &--less-margin {
    margin-bottom: 1.3rem;
    margin-top: 0;
  }
}
