.wrapper {
  overflow: hidden;
  padding-left: 18px;
  padding-right: 18px;
  max-width: 1236px;
  margin-left: auto;
  margin-right: auto;

  &--narrow-medium {
    max-width: 61rem;
  }

  &--b-margin {
    margin-bottom: 0.8rem;

    @mixin atMedium {
      margin-bottom: 3.875rem;
    }
  }

  .wrapper {
    padding-left: 0;
    padding-right: 0;
  }
}
